@import 'bootstrap/dist/css/bootstrap.min.css';

$primary_1:#00722a;


.astarick{
    color: red;
}
.a{
    color: azure;
    background-color: blueviolet;
}

.sidebar-text{
    text-decoration: none;
}

.bg-header{
    background-color: #00722a;
}

.bg-plot{
    background-color: #fb6340;
}

.sidebar-image{
    width: 13%;
}